

 html, body {
height: 100%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body > * {
    border:3px solid black;
}

body > header, body > footer {
    background:rgb(190, 147, 230);
    color:darkblue;
    height: 70px;
    line-height: 70px;
    text-align:center;
}
 
/* main > .content > main > section > #Img0Container {
    order: 1;
    margin-left: 75px;
    margin-right: 100px;
}
main > .content > main > section > #Img1COntainer {
    order: 2;
    margin-left: 75px;
    margin-right: 100px;
}
main > .content > main > section > #Img2Container {
    order: 3;
    margin-left: 30px;
    margin-right: 50px; 

}
  main > .content > main > section > div {
    font-weight: bold;
    color:blanchedalmond;
    background-color:lightslategrey;
    border: 2px solod rgb(224, 138, 217);
    border-radius: 5%;
    height: 225px; 
    width: 250px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

main > .content > main > section > div > img {
    height: 200px;
    width: 200px;  */

}
main{
  background: hotpink;
}
main > .content {
    background:indianred;
}

main > aside {
background: lightgreen;
height: 100%;
}

main > nav {
background: lightseagreen;
height:100%;
font-size: 1.25em;
}

aside > ul {
    list-style-type: none;

}
nav > ul {
    list-style-type: none;
}

.deck {
    background:tomato;
}

.deck:first-child {
    border-bottom: 3px solid grey;

}

.centerWords{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.navAlign {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items:flex-start;
background: orchid;
}

a:link {
    color:lightcoral;
    background-color: transparent;
    text-decoration:none;
}

a:visited {
    color:turquoise;
    background-color: transparent;
    text-decoration:none;
}

a:hover {
    color:blueviolet;
    background-color: transparent;
    text-decoration:underline;
}

a:active{
    color:plum;
    background-color: transparent;
    text-decoration:underline;
}

ul{
    line-height:250%;

} 